<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Articles</title>
</head>
<body>
<a th:href="@{/}">Home</a>
<a th:href="@{/articles}">Articles</a>
<div>
    <h1>List of Articles</h1>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Text</th>
            <th>Likes Count</th>
            <th>Date time</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articles}">
            <td th:text="${article.title}"></td>
            <td th:text="${article.text}"></td>
            <td th:text="${article.likesCount}"></td>
            <td th:text="${article.createdAt}"></td>
            <td>
                <div>
                    <a th:href="@{/articles/{id}(id=${article.id})}">Link</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/articles/new}">Create</a>
</div>
</body>
</html>