<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Edit Article</title>
    <script>
        function updateArticle(articleId) {
            let formData = new FormData()
            formData.set("title", document.getElementById("titleInput").value)
            formData.set("text", document.getElementById("textInput").value)
            formData.set("createdAt", document.getElementById("createdAtInput").value)
            let files = document.getElementById("image").files
            if (files) {
                formData.set("image", files[0])
            }
            const init = {method: "PUT", body: formData}
            const token = localStorage.getItem("token")
            if (token) {
                init.headers = {"Authorization": `Bearer ${token}`}
            }
            fetch(`/api/articles/${articleId}`, init).then(() => {
                window.location.href = "/articles/" + articleId;
            })
        }
    </script>
</head>
<body>
<a href="/">Home</a>
<a href="/articles">Articles</a>
<h1>Edit Article</h1>
<form id="editForm">
    <label for="titleInput">Title:</label>
    <input type="text" id="titleInput" th:value="${article.title}" required/>
    <hr/>
    <label for="textInput">Text:</label>
    <textarea id="textInput" th:text="${article.text}" required></textarea>
    <hr/>
    <label for="createdAtInput">Created at:</label>
    <input type="datetime-local" step="1" id="createdAtInput" th:value="${article.createdAtFormatted}" required></input>
    <hr/>
    <label for="image">Image</label>
    <img th:src="@{/article-images/{id}(id=${article.id})}" alt="Image">
    <input type="file" id="image"/>
    <hr/>
    <button type="button" th:onClick="|updateArticle(${article.id})|">Save</button>
</form>
</body>
</html>