<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
    <script th:inline="javascript">
        const BASE = /*[[@{/}]]*/

        // noinspection JSUnusedGlobalSymbols
        function like(articleId) {
            const init = {method: "POST"}
            const token = localStorage.getItem("token")
            if (token) {
                init.headers = {"Authorization": `Bearer ${token}`}
            }
            fetch(`${BASE}api/articles/${articleId}/like`, init).then((response) => {
                console.log(response)
                window.location.reload()
            })
        }

        // noinspection JSUnusedGlobalSymbols
        function deleteArticle(articleId) {
            const init = {method: "DELETE"}
            const token = localStorage.getItem("token")
            if (token) {
                init.headers = {"Authorization": `Bearer ${token}`}
            }
            fetch(`${BASE}api/articles/${articleId}`, init).then(() => {
                window.location.href = `${BASE}articles`;
            })
        }
    </script>
</head>
<body>
<a th:href="@{/}">Home</a>
<a th:href="@{/articles}">Articles</a>
<h1 th:text="|Article: ${article.text}|"></h1>
<div>
    <div th:if="${article.image}">
        <strong>
            Image
        </strong>
        <img th:src="@{/article-images/{id}(id=${article.id})}" alt="Image">
    </div>
    <div>
        <strong>
            Title:
        </strong>
        <span th:text="${article.title}"></span>
    </div>
    <div>
        <strong>
            Text:
        </strong>
        <span th:text="${article.text}"></span>
    </div>
    <div>
        <strong>
            Likes:
        </strong>
        <span th:text="${article.likesCount}"></span>
        <button th:onclick="|like(${article.id})|">+Like</button>
    </div>
    <div>
        <strong>
            Created at:
        </strong>
        <span th:text="${article.createdAt}"></span>
    </div>
</div>
<a th:href="@{/articles/{id}/edit(id=${article.id})}">Edit</a>
<br/>
<button th:onclick="|deleteArticle(${article.id})|">Delete</button>
</body>
</html>
