<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <script>
        function signIn(articleId) {
            let formData = new FormData()
            formData.set("username", document.getElementById("usernameInput").value)
            formData.set("password", document.getElementById("passwordInput").value)
            fetch(`/api/auth/sign-in`, {method: "POST", body: formData}).then((response) => {
                response.json().then((data) => {
                    console.log(data)
                    localStorage.setItem("token", data.token)
                    window.location.href = "/";
                })

            })
        }
    </script>
</head>
<body>
<a href="/">Home</a>
<h1>Sign In</h1>
<form id="signInForm">
    <label for="usernameInput">Username:</label>
    <input type="text" autocomplete="username" id="usernameInput" required/>
    <hr/>
    <label for="passwordInput">Password:</label>
    <input type="password" autocomplete="password" id="passwordInput"  required/>
    <hr/>
    <button type="button" th:onClick="signIn()">Save</button>
</form>
</body>
</html>